<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <!-- <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div> -->
    <div class="row featurette">
        <div class="col-md-10">
          <h1 class="featurette-heading"> Get Started </h1>
          <h2><span class="text-muted">It'll blow your mind.</span></h2>
          <p class="lead">login to start messaging secreatly</p>
        </div>
        <div class="col-md-10">
            <form action="\" method="POST">
                <button><a type="submit" class="btn"><i class="fa fa-chevron-right" style="font-size:40px;color:rgb(1, 128, 18)"></i>
                    <br></a></button>
            </form>
        </div>
        <!-- <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div> -->
      </div>